<h1>Editing Goal</h1>

<%= render 'goal_edit_form' %>

<%= link_to 'Delete', @goal, method: :delete, data: { confirm: 'Are you sure you with to abandon your goal and have your deposit refunded?' } %>
