



/* Ghost button CSS */
/*.btn {
  margin-right: 1em;  remove this while use
  margin-bottom: 1em; /* remove this while use
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
}*/











