body {
	/*background-image: url("http://res.cloudinary.com/cerexhe/image/upload/b_rgb:000,o_31/v1437720657/black-and-white-city-skyline-buildings_ug3mba.jpg");*/
	background-color: #A8A8A8;
	background-size: cover; 	
	background-repeat: no-repeat;
}

.section {
	border-radius: 15px;
	background-color: white;
	padding: 20px;
	opacity: 0.9;
	margin-top: 30px;
}