<div class="section">
<h2>Confirmation</h2>

<p>You deposited <strong><%= number_to_currency(@goal.reward_cost/100) %></strong> for <%= @goal.title %>. Have fun reaching your goal!</p>

<%= link_to 'Back to Goals', goals_path %>
</div>